server:
  port: ${PORT:8080}

spring:
  application:
    name: pulsedesk
  datasource:
    url: jdbc:h2:mem:pulsedeskdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

huggingface:
  api:
    token: ${HF_API_TOKEN}
    url: https://router.huggingface.co/v1/chat/completions